.click-target, main ul li {
  border: 2px solid darkgray;
  padding: 1em;
  width: 32%;
}
li.selected {
  background-color: darkred;
}
main ul {
  width: 50%;
}
main ul li {
  float: left;
  list-style-type: none;
  margin-right: 7%;
  width: initial;
}
ul.click-target {
  min-height: 3em;
  width: 66%;
}
